# macOS
.DS_Store

# Environment files - never committed
.env
*.env.local

# Node
node_modules/

# Laravel
/web/vendor/
/web/node_modules/

# bot
/bot/node_modules
/bot/.env

#docs
docs/

# Logs
*.log